* {
  box-sizing: border-box;
}

body {
  background-color: #20232a;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
}

.App {
  text-align: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;

  h1 {
    color: #61dafb;
  }

  .calculator {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    .history {
      width: calc(100% - 10px);
      margin: 5px auto;
      padding: 15px;
      border-radius: 25px;
      background-color: #fff;
      text-align: right;
    }
    .contDisplay {
      display: flex;

      .display {
        max-width: 100%;
        width: 100%;
        border-radius: 25px;
        margin: 3px;
        border: 0 none;
        height: 50px;
        line-height: 50px;
        padding: 0;
        padding-right: 45px;
        text-align: right;
      }
    }

    .keyboard {
      display: flex;
      max-width: 100%;
      width: 100%;

      .inputKeys {
        width: 75%;

        .functions {
          display: flex;
        }

        .keys {
          display: flex;
          flex-wrap: wrap-reverse;
        }

        button {
          width: calc(33.33333333333333% - 6px);
        }

        .foot {
          .key-0 {
            width: calc(66.6666666666667% - 6px);
            text-align: left;
            padding-left: 45px;
          }
        }
      }

      .operations {
        width: 25%;
        display: flex;
        flex-direction: column;
      }
    }
  }

  button {
    border: 0 none;
    border-radius: 25px;
    margin: 3px;
    padding: 0;
    height: 50px;
    border: 0 none;
    line-height: 50px;
    position: relative;
    -webkit-appearance: none;

    &.border-left {
      //border-left: 1px solid #aaa;
    }

    &:hover,
    &:focus {
      color: #fff;
      background-color: #20232a;
    }
  }
}
