* {
  box-sizing: border-box;
}
body {
  background-color: #20232a;
  font-family: "Ubuntu", sans-serif;
}
.App {
  text-align: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;

  h1 {
    color: #61dafb;
  }

  .calculator {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;

    .contDisplay {
      display: flex;

      .display {
        max-width: 400px;
        width: 100%;
        border: 1px solid #aaa;
        height: 50px;
        line-height: 50px;
        margin: 0;
        padding: 0;
        padding-right: 45px;
        text-align: right;
      }
    }

    .keyboard {
      display: flex;
      max-width: 400px;
      width: 100%;

      .inputKeys {
        width: 75%;

        .functions {
          display: flex;
        }

        .keys {
          display: flex;
          flex-wrap: wrap-reverse;
        }

        button {
          width: 33.33333333333333%;
        }

        .foot {
          .key-0 {
            width: 66.6666666666667%;
            text-align: left;
            padding-left: 45px;
          }
        }
      }

      .operations {
        width: 25%;
        display: flex;
        flex-direction: column;
      }
    }
  }

  button {
    border: 0 none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    height: 50px;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    line-height: 50px;
    position: relative;

    &.border-left {
      border-left: 1px solid #aaa;
    }
    &:hover,
    &:focus {
      color: #fff;
    }
    /*&::before {
      content: "";
      position: absolute;
      border: #5660f4 solid 2px;
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      opacity: 0;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: opacity;
      transition-property: opacity;
    }

    &:hover::before,
    &:focus::before {
      opacity: 1;
    }*/
  }
}
